/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*appointment form css*/
#openFlyer i{
	margin-left: 5px!important;
}
.gform_wrapper  #gform_fields_34 h3{
	border-bottom: 1px solid #ccc !important;
    padding-bottom: 5px;
	margin-bottom: 25px;
}
h4.fl-widget-title,
h2.widgettitle{
    font-weight: 600;
    font-size: 30px;
}
h1.fl-post-title,
h3.uabb-post-heading.uabb-blog-post-section{
    font-weight: 600;
}
.fl-post-content .uabb-blog-post-inner-wrap  img{
	width: 100% !important;
	margin: 20px 0;
}
#field_34_2,
#field_34_4{
	padding-right: 0px !important;
}
.gform_wrapper  #gform_fields_34 select{
	border-radius: 4px;
    margin-top: 2px!important;
	color: #000;
}
.gform_wrapper  #gform_fields_34 ul.gfield_checkbox{
	display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
    flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.gform_wrapper  #gform_fields_34 ul.gfield_checkbox#input_34_36 li{
	flex: 0 0 50%;
	-moz-flex: 0 0 50%;
	-webkit-flex: 0 0 50%;
}
.gchoice_34_25_1{
	width: 100%;
}
#field_34_35{
	border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
	margin-top: 40px;
}
.gform_wrapper #gform_fields_34 .gfield_description{
	padding: 0px !important;
}
#field_34_36 .gfield_description{
	font-style: oblique;
}
#field_34_33{
	margin-top: 60px !important;
}
.gfield_description a{
	text-decoration: underline !important;
}
#gfield_description_34_15{
	padding-bottom: 30px !important;
}
/*appointment foem css end*/
.uabb-tabs > nav a:focus {
    outline: none !important;
}

.post-906312 li.gchoice_31_7_1 a,
.post-906318 li.gchoice_31_7_1 a,
.post-906321 li.gchoice_31_7_1 a,
.post-906324 li.gchoice_31_7_1 a{
	color: #fff;
}
.brand-info-sec .uabb-image-content{
	min-height: 96px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.product-box h1{
	font-size: 26px; 
}
.slick-track{
	display: flex !important;
	align-items:center;
}
.store_wrapper .title-prefix {
    font-weight: 700;
    font-size: 12px;
}
.z-index-5{
	position: relative !important;
	z-index: 5 !important;
}
ul#menu-locations li a:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	    margin-right: 5px;
}
ul#menu-locations li a{
	padding: 0 10px !important;
}
.store_wrapper .store-add{
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Montserrat",sans-serif;
}
.modula-fancybox-container.modula-fancybox-is-open{
	z-index: 999 !important;
}
/* .post-456266 li#field_16_11,
.post-456264 li#field_16_11{
	display: none !important;
} */

.flooringFinder .card.shadow:hover {
    border: 2px solid #ff0000!important;
}
/* flyer css start here */
.changeLocation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
	max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #000;
	z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    transition: all 0.6s;
}
.product-swatch-inner #product-images-holder a .main-imgs img{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.product-banner-img{
 background-position: 100% 75%!important;
}
.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
.content .store-add{
	color: #333;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
}
.button-wrapper #roomvo {
	    width: 44% !important;
}
.button-wrapper #roomvo button{
	    width: 100% !important;
		margin: 10px 0 !important;
	    text-transform: uppercase;
	    padding: 10px 25px !important;
}
.product-box .button-wrapper a.button,
.product-detail-layout-5 .button-wrapper .button{
	    text-transform: uppercase !important;
	 padding: 10px 25px !important;
}
.product-detail-layout-5 .fl-post .fl-post-content .row:first-child{
    margin: 50px 0 0 0;
}
.content .store-cta-link:before{
	content: "\f061";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
}

.content .store_wrapper {
padding: 40px 20px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}
.changeLocation .content {
	padding: 40px 20px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 50px;
    margin-left: 50px;
    font-weight: 100;
    color: #9b9b9b;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.content {
	color: #000; 
    width: 90%;
}
/* flyer css end here */


.content .store-add {
    color: #333;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    font-size: 14px;
}
#menu-item-1000043,
#menu-item-1000039{
	display: none;
}
.button-wrapper-default a, .button-wrapper-default a.button {
    width: 90% !important;
    border: 2px solid #000 !important;
    padding: 10px 0 !important;
    margin: 10px auto !important;
    display: block !important;
    text-align: center;
    font-weight: 600 !important;
    font-size: 16px !important;
    transition: all .2s !important;
	text-transform: uppercase;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important;
}


.content .store-hour{
	    margin-top: 10px!important;
}
.content .store_wrapper .title-prefix {
    font-weight: 700;
    font-size: 14px;
    /* text-transform: uppercase; */
    font-family: "Montserrat",sans-serif;
}
.locationOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
        background: rgba(0,0,0,0.75);
}

.ForOverlay ~ .locationOverlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    visibility: visible;
}

/* flooring finder css start here */
#alert_placeholder{
    width: 90%;
    margin: 0 auto;
}
.alert-danger {
    color: #a94442!important;
    background-color: #f2dede!important;
    border-color: #ebccd1!important;
    width: 90%;
    margin: 0 auto;
}

.alert {
    padding: 15px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent;
    border-radius: 4px;
}
.flooringFinder .card .pro_title h4{
	margin: 0px!important;
}
.flooringFinder .title h2{
	    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.pages h4{
	font-family: Montserrat, sans-serif;
    font-weight: 400;
    margin: 0px!important;
}
.Mainwrapper {
    height: 100%;
    width: 100%;

}
.flooringFinder .card .productImgWrap {
    position: relative;
}
.flooringFinder .card .productImgWrap > img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all linear 0.2s;
}
.productImgWrap > img:nth-child(1){
	z-index: 2;
}
.productImgWrap > img:nth-child(2){
	z-index: 1;
}

.card:hover .productImgWrap > img:nth-child(2){
	z-index: 3;
}
.card.shadow .productImgWrap > img:nth-child(2){
	z-index: 3;
}
h4.uabb-infobox-title-prefix ~ h2.uabb-infobox-title{
	font-size: 26px;
}
/* centerd display */
.flooringFinder .gridWrapper {
    text-align: center;
}
.flooringFinder  .fulldisplay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flooringFinder  .fulldisplay > div{
    width: 100%;
}
.flooringFinder  .prodGrid{
    display: flex;
    justify-content: center;
}

.flooringFinder  .singlePro{
    padding: 6px 6px!important;
}
.flooringFinder  .title{
    padding: 40px 0px!important;
    color: #000;
}


.flooringFinder  .card {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  position: relative;
  transition: all 0.6s;
  border: 2px solid #C1C0BB;
}

.flooringFinder .card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #666666;
}
.flooringFinder .shadow{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
  border: 2px solid #ff0000;
}
.flooringFinder .card.deactivate{
    opacity: 0.3;
}
.flooringFinder .card.deactivate{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.flooringFinder .pro_title {
    padding: 10px 12px!important;
    text-align: center;
    color: #000;
    
}
.flooringFinder .pro_title h4{
    text-transform: uppercase;
    font-size: 14px!important;
    font-weight: 600;
}
.flooringFinder .card .closebtn {
position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px 6px!important;
    font-size: 36px;
    line-height: 0.5em;
    margin-left: 50px;
    color: #000;
    background: #fff;
    text-decoration: none;
    opacity: 0;
  transition: all 0.6s;
}

.flooringFinder .card:hover > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .multiselect .card .checkbox{
    display: none;
}
.flooringFinder .card.deactivate:hover{
   box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
   border: 2px solid #C1C0BB;
}
.flooringFinder .card.deactivate:hover > .closebtn{
  opacity: 0;
}
.sample-product-grid .getcoupon-btn {
	font-size: 16px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    padding: 12px 24px !important;
    text-decoration: none !important;
    text-shadow: none !important;
    width: 100% !important;
	background: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}
.sample-product-grid .getcoupon-btn span{
	 color: #fff !important;
}
.sample-product-grid .getcoupon-btn:hover{
	color: #000;
    background: #848484 !important;
}
.sample-product-grid .getcoupon-btn:hover span{
		color: #000 !important;
}


.flooringFinder .shadow > .closebtn{
  color: #000;
  opacity: 1;
}
.flooringFinder .pages {
    color: #727171;
    background-color: #efefef;
    padding: 40px 0px!important;
}
.flooringFinder .pages span {
    font-size: 16px;
}


/* d*/
.flooringFinder  section {
    /* height: 100%; */
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0px 0px 60px 0px!important;
}

.flooringFinder section .container {
    margin: 0 auto!important;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contCenter{
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%,-50%); */
}

.flooringFinder  .buttonWrap{
 padding: 60px 0px 40px 0px!important;
}
.flooringFinder  .buttonWrap > a.button{
    color: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #000000;
    border: 1px solid #000000;
    padding: 10px 24px!important;
    text-transform: uppercase;
    width: 250px!important;
    display: inline-block;
    text-decoration: none!important;
}
.flooringFinder  .buttonWrap > a.button:hover{
    cursor: pointer;
}
.flooringFinder  .wrap{
    flex-wrap: wrap;
}
.flooringFinder  .result .card .pro_title h4{
    line-height: 1.4em;
}
.flooringFinder  .result .card .pro_title h3{
    line-height: 1.6em;
    margin-bottom: 2px!important;    
}
.flooringFinder .result .card .pro_title .brand{
    letter-spacing: 1px;
        color: #a3a3a3;     
}
.flooringFinder .result .orderSamplebtn{
    display: block;
    padding: 10px 16px!important;
    background: #000;
    color: #fff;
    margin: 10px 0px!important;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
.flooringFinder .result  .prodLink{
  text-decoration: underline;
  color: #666666;   
  font-size: 13px;
 }
.flooringFinder .buttonWrap .restartQuiz{
    display: inline-block;
} 
.flooringFinder .result .buttonWrap{
    display: inline-grid;
}
.flooringFinder .result .buttonWrap .restartQuiz{
    margin-top: 20px!important;
}
.flooringFinder .productImgWrap {
    overflow: hidden;
    height: 250px;
    max-width: none;
    width: 100%;
    min-height: 250px;
}

.flooringFinder .productImgWrap > img {
    min-height: 100%;
    width: 100%;
}
.flooringFinder section{ 
    display: none;
} 
.flooringFinder .active{
    display: block;
}
.progressBar{
	width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    background-color: #f4f4f4;
}

.progressBar .bar{
	padding: 12px;
    background-color: #f00000;
    width: 16%;
}

section[data-section=typeOf] .progressBar .bar{
    width: 32%;
}
section[data-section=designStyle] .progressBar .bar{
    width: 48%;
}
section[data-section=room] .progressBar .bar{
    width: 64%;
}
section[data-section=impThing] .progressBar .bar{
    width: 80%;
}
section[data-section=color] .progressBar .bar{
    width: 100%;
}
.typeOfCarpet,
.typeOfWood,
.typeOfTile{
	display: none;
}
.hidden{
	display: none;
	pointer-events: none;
}
.hidden > *{
	pointer-events: none;
}
.flooringFinder .singleselect .card .checkbox {
    display: none;
}
.columnUp .gform_footer{
	padding-right: 15px!important;
}
@media(min-width: 1200px){
.flooringFinder .col-lg-3 {
    width: 20%!important;
}
}
@media(min-width: 768px){
.columnUp{
	position: relative;
    z-index: 10;
}
.gfield{
		padding-right: 15px!important;
}	
	
.fl-module .uabb-gf-style {
    padding-right: 5px!important;
}
}

@media(max-width: 768px){
.buttonIssue .gform_footer input[type=submit]{
	    width: 350px;
    max-width: 100%;
}

.flooringFinder .pages {
    padding: 0px 0px!important;
}
.flooringFinder .pages > div{
    padding: 12px 0px!important;
}
.flooringFinder .prodGrid {
    display: block!important;
}
.flooringFinder .contCenter{
    position: static;
    top: 50%;
    left: 50%;
    -ms-transform: none;
    transform: none;
        display:block;
}
	.fl-module-menu  .menu a{
		    padding-top: 6px;
	}
.flooringFinder .singlePro{
    padding: 20px 20px!important;
}
.flooringFinder section {
    height: auto;
}
.fl-module-menu ul#menu-copyright-bar-menu.fl-menu-horizontal,
.fl-module-menu ul#menu-flooring-menu.fl-menu-horizontal,
.fl-module-menu ul#menu-locations.fl-menu-horizontal{
     text-align:center !important;
 }
 ul#menu-locations li{
     padding: 5px 0;
 }
 div.fl-module-dual-button .uabb-dual-button .uabb-horizontal {
     flex-direction: row;
 }
 div.fl-module-dual-button .uabb-dual-button {
    justify-content: center;
}
.uabb-dual-button .uabb-btn-horizontal{
    margin:10px;
}
.max-width-issue{
    max-width: 400px;
    margin: 0 auto; 
}
	.uabb-image-carousel img {
    width: auto !important;
    height: auto !important;
    max-width: 400px;
    margin: 0 auto;
}
	.uabb-image-carousel img{
		height: 300px !important;
		width: 300px !important;
	}
}
@media (min-width: 766px) and (max-width: 768px){
	.contCenter.container {
  	  width: 766px;
	}
	.topBarRes .fl-col-group > .fl-col:nth-child(3), .topBarRes .fl-col-group > .fl-col:nth-child(4){
	width: 30%!important;
}
}


/* flooring finder css end here */
header .menu .mega-menu{
    position: static;
}
header .menu .mega-menu > .sub-menu{
    left: 0 !important;
    right: 0 !important;
}
header .menu.fl-menu-vertical > li{
    display: block;
}
header .sub-menu .menu.fl-menu-vertical{
    text-align: left;
}
header .sub-menu .menu.fl-menu-vertical > li > a{
    padding: 12px 10px !important;
}
#menu-button a.fl-button{
    display: inline-block;
    padding: 0 10px;
    width: auto;
}
.uabb-creative-menu.off-canvas .sub-menu li{
    border: 0 !important;
}
.uabb-creative-menu.off-canvas .sub-menu{
    padding-left: 10px;
}
li#menu-item-1000012{
	display: none;
}
.button-wrapper{
	display: flex;
    align-items: center;
    flex-direction: column;
}
@media(min-width:992px) and (max-width:1024px){
	h2.uabb-infobox-title{
		font-size: 16px !important;
	}
 	.mar-left-0 .fl-row-content-wrap{
		margin-left: 0px !important;
	}
	ul#menu-locations li a{
		padding: 10px !important;
	}
}
@media(min-width:992px){
	div#roomvo .roomvo-container > a.button{
		margin: 10px auto !important;
		width: 90% !important;
		color: #000;
	}
    .product-detail-layout-5 div#roomvo .roomvo-container > a.button{
		margin: 10px auto !important;
		width: 100% !important;
		color: #000;
	}
	.product-box h1 {
    font-size: 26px!important;
}

}
.button-wrapper-default a:hover, .button-wrapper-default a.button:hover{
	background-color: #848484;
}
div#roomvo .roomvo-container > a.button:hover{
	color: #fff;
}
.responsive-button-wrapper-default a, .responsive-button-wrapper-default a.button{
	text-transform: uppercase;
	color: #7f7f7f !important;
} 
@media (max-width: 1023px){
    .responsive-menu{
        display: block !important;
    }
}
@media (min-width: 500px){
			.overlap-text .uabb-infobox-content h3.uabb-infobox-title-prefix{
		font-size: 24px;
	}
	.overlap-text .uabb-infobox-content h3 ~ h2.uabb-infobox-title{
		font-size: 85px !important;
	}
	.overlap-text .uabb-infobox-content .uabb-infobox-text  p{
		line-height: 1.2;
	}
}
@media(max-width:500px){

.columnUp .gform_footer input[type=submit]{
	width: 100%!important;
}
	.insta-gallery-feed[data-feed_layout=carousel] .swiper-button-next {
    right: 9px !important;
}
	.product-box .button-wrapper a.button{
		width: 100% !important;
	}
	h1.uabb-infobox-title{
		font-size: 38px !important;
	}
	h2.uabb-infobox-title{
		font-size: 32px !important;
	}
	.uabb-imgicon-wrap ~ .uabb-infobox-title-wrap h2.uabb-infobox-title{
		font-size: 16px !important;
	}
	h3.uabb-infobox-title{
		font-size: 32px !important;
	}
	 .uabb-infobox {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.noPad .uabb-infobox {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	.flooringFinder .productImgWrap {
    overflow: hidden;
    height: 350px;
    max-width: none;
    width: 100%;
    max-width: 350px;
    min-height: 250px;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    margin: 0 auto!important;
}

}
.product-swatch .img-responsive{
	min-height: 500px;
}
.product-banner-img{
    min-height: 500px;
}
.fl-rich-text a {
    color: #C02430 !important;
    }
 a#openFlyer {
        color: black !important;
    }
.title-prefix a{
    color: black !important;

}
.navheading {
    font-weight: 700;
    font-size: 18px;
    color: #333;
    font-family: "Montserrat",sans-serif;
    padding: 0 !important;
    line-height: 1.4;
    letter-spacing: 0px;
    font-style: normal;
    margin-left :10px;
}